<div id="<%= dom_id user %>">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 pb-3 pt-3">
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: "rounded-circle card-img-top ms-3", style: "width: 100px; height: 100px;"%>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name + ' ' + user.last_name %></h5>
          <p class="card-text"><%= user.bio %></p>
        </div>
      </div>
      <%= link_to "Show this user", user, class: "btn btn-primary" %>
    </div>
  </div>
</div>
